<h4>{{employee.Salary_Yearly}}</h4>
<h4>{{employee.Job_Title}}</h4>
<h4>{{employee.First_Name}}</h4>



<h2>Employee Records and Data Entry</h2>


<div class="container-fluid">

<div class="row col-md-12" ng-class="{active: employee.status, inactive: !employee.status}">
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <form id="newEmployeeForm">
        <td><input ng-model = "ec.addEmployee.Employee_ID" placeholder="Employee_ID"></td>
        <td><input ng-model = "ec.addEmployee.First_Name" placeholder="First_Name"></td>
        <td><input ng-model = "ec.addEmployee.Last_Name" placeholder="Last_Name"></td>
        <td><input ng-model = "ec.addEmployee.Job_Title" placeholder="Job_Title"></td>
        <td><input ng-model = "ec.addEmployee.Salary_Yearly" placeholder="Salary_Yearly"></td>
        <td>
        <!-- <input ng-model="ec.addEmployee.employeeData"> -->
        <button ng-click="ec.addEmployee()">Add Employee</button>
        </td>
        <!-- <td><input ng-model = "ec.addEmployee.status" placeholder="Active/Inactive"></td> -->
        <!-- <td><button ng-click = "ec.addEmployee()">Add a new Employee</button></td> -->
        <!-- <label><h4>New Employee Data:     </h4></label> -->

        <!-- <td><button ng-click = "ec.addEmployee()">Add a new Employee</button> -->
      </form>
    </tr>

    <tr>
      <th> Employee ID </th>
      <th> Last Name </th>
      <th> First Name </th>
      <th> Job Title </th>
      <th> Salary (Yearly) </th>
      <th> Active/Inactive </th>
      <th> Delete Employee</th>
    </tr>
  </thead>

  <tbody>
<!-- <div ng-class="{active: employee.status, inactive: !employee.status}" class="row col-xs-12"> -->
<tr ng-repeat="employee in ec.employeeList.list">

    <td>{{employee.Employee_ID}}</td>
    <td>{{employee.First_Name}}</td>
    <td>{{employee.Last_Name}}</td>
    <td>{{employee.Job_Title}}</td>
    <td>{{employee.Salary_Yearly}}</td>
    <!-- <td>{{employee.status}}</td> -->
    <!-- NOTE: Three Buttons: Active/Inactive/Delete -->
      <td><span class="col-xs-1" ng-hide="employee.status"><button ng-click="ec.activeEmployee(employee.id)" class="btn btn-primary">Active</button></span>

      <span class="col-xs-1" ng-show="employee.status"><button ng-click="ec.inactiveEmployee(employee.id)" class="btn btn-info">Inactive</button></span></td>

      <td><span class="col-xs-1"><button ng-click="ec.deleteEmployee(employee.id)" class="btn btn-danger">Delete</button></span></td>
</tr>

  <!-- <span class="col-xs-6">{{employee}} the status is {{employee.status}}</span> <! NOTE: This line puts database cell data on the page -->







  </tbody>
</table>
</div>
</div>
